.container {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.header-logo {
    padding: 63px 0 38px 0;
}

.ramda-logo {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
}

.ramda-bluePart {
    color: #4bcaff;;
}

.header-bg {
    background-color: #35444F;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-nav-link {
    display: inline-block;
    padding: 26px 35px; 
    border-left: 1px solid #FFFFFF;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.6s;
}

.header-nav-item:last-child > .header-nav-link {
    border-right: 1px solid #ffffff;
}

.header-nav-item:hover {
    background-color: #222F3A;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.aside {
    display: inline-block;
    width: 344px;
}

.section {
    display: inline-block;
    width: 885px;
}

.aside-nav {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.aside-nav-item {
    display: block;
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding: 26px 0px 30px 44px;
    transition: 0.6s;
}

.aside-nav-item:hover {
    box-sizing: border-box;
    background-color: #DBDBDB;
    color: #000;
    padding-left: 80px;
}

.image-border {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    padding: 75px 0;
}

.image:hover {
    transform: scale(1.2);
    transition: 0.6s;
}

.text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.paragraphEN {
    padding-bottom: 54px;
}

.paragraphRU {
    padding: 37px 0 34px 0;
}

.footer-bg {
    background-color: rgba(99, 105, 110, 0.48);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-nav {
    display: flex;
    padding: 20px 0;
}

.footer-link:not(:last-child) {
    margin-right: 23px;
}

.footer-link-item {
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 0.6s;
}

.footer-link-item:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
