.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1067px;
}

.background {
    background: url('../image/background.png')  no-repeat;
    background-size: cover;
}

.header {
    display:flex;
    justify-content: space-between;
    margin: 49px auto;
}

.header-logo {
    background: url('../image/logo@1X.png') no-repeat;
    height: 44px;
    width: 46px;
    margin-right: 15px;
}

.text-header{
    display: flex;
    color: #ffffff;
}

.text-header:hover{
    color:#f26522;
}

.text-header:hover .header-logo{
    background-image: url('../image/logo@1X_hover.png');
    transition-duration: 0.2s;
}

.milan-holiday {
    margin-bottom: 45px;
}

.text-milan {
    font-size: 29px;
    font-weight: bold;
    font-family: "Verdana";
    line-height: 21px;  
}

.text-holidays {
    font-size: 18px;
    font-weight: bold;
    font-family: "Verdana";
    letter-spacing: 0.1px;
    margin-top: 8px;
}

.header-email {
    text-align: right;
    font-size: 18px;
    color: #ffffff;
    font-family: "Verdana";
    margin-bottom: 5px;
}

.header-number {
    text-align: right;
    font-size: 18px;
    color: #ffffff;
    font-family: "Verdana";
}
.main-container {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap
}

.main-content {
    /* display: inline;
    float: left; */
    /* margin-right: 65px; */
    text-align: center;  
    margin-bottom: 58px;
    
}
.img_content {
    height: 200px;
    width: 307px;
    background: linear-gradient(to right, #ffffff , #000000);
    padding: 2px;
    margin-bottom: 22px;
}

.text-description{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
    font-family: "Verdana";
    /* margin: 22px 0 58px 0;  */
}

.text-description:hover{
    color:#f26522
}

.footer {
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    display: flex;
    justify-content: center;
    margin: 61px 0 20px 0;
}