.body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 15px;
}

.header-logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition-duration: 0.6s;
}

.header-logo:hover {
    color: #3CB878;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.header-menu-icon {
    position: relative;
    display: inline-block;
}

.header-menu-icon path {
    transition-duration: 0.6s;
}

.header-menu-icon:hover path {
    fill: #3CB878;
}

.header-menu-icon:nth-child(3):after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 19px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    left: 40px;
    bottom: 4px;
}

.header-authorization {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-authorization-item {
    text-decoration: none;
    color: #FFFFFF;
    transition-duration: 0.6s;
}

.header-authorization-item:hover {
    color: #3CB878;
}

.form {
    background-color: #fff;
    width: 444px;
    margin: 55px 0 74px 0;
    position: relative;
}

.form::after {
    content: "";
    height: 18px;
    width: 18px;
    background-color:#3CB878;
    position: absolute;
    top: 29px;
}

.form-container {
    padding: 31px 60px 38px 60px;
}

.form-authorization {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.form-sign-up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form-log-in {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition-duration: 0.6s;
}

.form-log-in:hover {
    color: #01813F;
}

.form-log-in::after {
    content : "";
    position : absolute;
    width : 100%;
    height : 1px;
    background-color: #fff;
    bottom: -3px;
    left: 0;
    transition-duration: 0.6s;
}

.form-log-in:hover::after {
    background-color: #01813F;
}

.form-log-in-btn {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
}

.btn-facebook {
    padding: 12px 22px 12px 17px;
    background-color: #305DB8;
    display: flex;
    align-items: center;
    transition-duration: 0.6s;
}

.btn-facebook:hover {
    background-color: #022263;
}

.btn .facebook-sign, .btn .google-sign {
    font-size: 20px;
    position: relative;
    padding-right: 37px;
}

.facebook-sign::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    left: 27px;
    bottom: -4px;
}

.google-sign::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    left: 32px;
    bottom: -4px;
}

.btn-google {
    display: flex;
    align-items: center;
    padding: 12px 27px 12px 12px;
    background-color: #DF4A32;
    transition-duration: 0.6s;
}

.btn-google:hover {
    background-color: #AB1F09;
}

.form-or {
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding: 31px 0 12px 0;
}

.form-or:before,
.form-or:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color:#F2F2F2;
    position: relative;
}

.form-or:before {
    margin-left: -100%;
    left: -2px;
}

.form-or:after {
    margin-right: -100%;
    right: -2px;
}

.form-input {
    box-sizing: border-box;
    outline: none;
    width: 100%;
    cursor: pointer;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 0 15px 20px;
    margin-bottom: 15px;
    transition: 0.6s;
}

.form-input::placeholder {
    color: #BEBEBE;
}

.form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color:#434343;
}

.checkbox {
    display: none;
    cursor: pointer;
}

.checkbox-label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #434343;
}

.checkbox-label::before {
    content: "";
    border: 1px solid #F2F2F2;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 8px;
}

.checkbox:checked + .checkbox-label::after {
    content: url("../img/checkMark.svg");
    width: 14px;
    height: 13px;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
}

.checkbox-label-terms {
    text-decoration: none;
    position: relative;
    color: #3CB878 ;
    display: inline-block;
    transition-duration: 0.6s;
}

.checkbox-label-terms::after {
    content : "";
    position : absolute;
    width : 100%;
    height : 1px;
    background-color: #fff;
    bottom: -3px;
    left: 0;
    transition-duration: 0.6s;
}

.checkbox-label-terms:hover {
    color: #01813F;
}

.checkbox-label-terms:hover::after {
    background-color: #01813F;
}

.btn-create {
    padding: 16px 0;
    margin-top: 20px;
    width: 100%;
    background-color:rgba(60, 184, 120, 0.8);
    transition-duration: 0.6s;
}

.btn-create:hover {
    background-color:#01813F;
}