body {
    background: rgb(0, 0, 0);
    overflow: hidden;
  }
  
.container {
    width: 500px;
    perspective: 200px;
    margin: 0 auto;
}

.text-animation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #e4af00;
    font-weight: bold;
    animation: text-scroll 30s infinite linear;
}
  
.heading { 
    text-align: center;
    margin-bottom: 20px;
}

.main-text {
    margin-bottom: 35px;
}

.song {
    display: none;
}
  
@keyframes text-scroll {
    0%   { transform: rotateX(30deg) translateY(300px); }
    100% { transform: rotateX(50deg) translateY(-300px); }
}

