.container {
    max-width: 1045px;
    margin: 0 auto;
}

body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 0 22px 0;
}


.logo {
    display: flex;
    text-decoration: none;
    transition: 0.6s;
}

.logo-img{
    background-image: url('../img/logo.png');
    background-size: cover;
    height: 47px;
    width: 53px;
    transition: 0.6s;
}

.logo-text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 8px;
    transition: 0.6s;
}

.logo-milan {
    font-size: 29px;
    line-height: 29px;  
    padding-bottom: 3px;
}

.logo-holidays {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.7px;
}

.logo:hover .logo-text {
    color: #F26522;
    transition: 0.6s;
}

.logo:hover .logo-img {
    background-image: url("../img/logoHover.png");
    background-size: cover;
    height: 47px;
    width: 53px;
    transition: 0.6s;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact-email {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 19px;
    transition: 0.6s;
}

.contact-email:hover {
    color: #F26522;
}

.contact-number {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.6s;
}

.contact-number:hover {
    color: #F26522;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px 60px;
}

.tour-card {
    transition-duration: 0.6s;
}


.tour-card-img {
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(5,5,5,1) 91%, rgba(0,0,0,0.3118289552148985) 100%);;
    border-image-slice: 1;
}

.tour-card-desc {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.6s;
}

.tour-card:hover .tour-card-desc {
    color: #F26522;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    overflow: hidden;
    bottom: -100px;
    width: 100%;
    background-color: #F26522;
    box-sizing: border-box;
    padding: 7px 14px 12px 16px;
    transition-duration: 0.6s;
}

.tour-card:hover .details {
    bottom: 0;
    transition-duration: 1s;
    visibility: visible;
}

.details-priсe {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.price-from {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
}

.price-euro {
    font-size: 20px;
    line-height: 20px;
}

.euro-sign {
    width: 36px;
    height: 14px;
    font-size: 20px;
    line-height: 20px;
}

.view-details {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.view-details::after {
    content: url("../img/greaterThan.svg");
    margin-left: 16px;
}

.footer {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    padding: 49px 0 15px 0;
}